<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>The Go Party</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .brand {
        margin-bottom:0px;
        padding-left:3% !important;
      }
      .nav li a p{
        margin-bottom:0px;
      }
      .item img{
        height:100%; width:100%;
        margin-left:auto; margin-right:auto;
      }
      .nav .active{
        color:rgb(49,158,55);        
      }
      .item{
      }
      .carousel-caption{
        color:white;
        margin-bottom:24%;
        padding:3%;
      }
      #third{
        color:white;
        margin-bottom:7%;
        padding:1%;
      }
    </style>
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="./ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="./ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="./ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="./ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#"><img src="img/logo.png"
style="max-height:40px;" /></a>
          <div class="nav-collapse">
            <ul class="nav">
              <li <%= printActiveIfMatches "/home" %>><a href="#"><p>GO</p>Home</a></li>
              <li <%= printActiveIfMatches "/candidates" %>><a href="candidates.html"><p>GO</p>Candidates</a></li>
              <li <%= printActiveIfMatches "/platform" %>><a href="platform.html"><p>GO</p>Platform</a></li>
              <li <%= printActiveIfMatches "/vote" %>><a href="vote.html"><p>GO</p>Vote</a></li>
              <li <%= printActiveIfMatches "/sugg" %>><a href="sugg.html"><p>GO</p>Suggestions</a></li>
              <!-- <li><a href="#endorsements"><p>GO</p>Endorsements</a></li> -->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script>
      var $carousel = $("#myCarousel").carousel({ interval: 4000 });
      $carousel.on('slid',function(){ 
        if( $('#myCarousel .active').index('#myCarousel .item') == 2 ){
          $carousel.carousel('pause');
          $('#myModal').modal(); 
        } 
      });
      $('.return').click(
        function(){
          $('.tab-content .active').children().slideDown('slow');
          $('.profile').fadeOut();
      });
      $('.thumbnail').click(
        function(){
          var $vid = $(this).children('b').attr('data-link');
          var $desc = $(this).children('p');
          var $name = $(this).children('h3');
          var $sibs = $(this).parent().siblings();
          $(this).toggleClass('chosen');
          $sibs.fadeToggle('fast',
            function(){
              $(this).children('p').html($desc.html());
              $(this).children('h1').html($name.html());
              $(this).children('.video').attr('src',$vid);
            }
          );
       });
       $('a[data-toggle="tab"]').click(function(){
        $('.chosen').parent().siblings().fadeToggle();
        $(".chosen").removeClass('chosen');
       });
       $('.thumbnail').click(function(){

       });

      //});
    </script>

  </body>
</html>
