<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>The Go Party</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
        <!--<link href="/css/bootstrap.css" rel="stylesheet"> -->
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-bottom: 40px;
        color: #5a5a5a;
      }
      .non-home{
        margin-top:80px;
      }
      .brand {
        margin-bottom:0px;
        padding-left:3% !important;
      }
      .brand img{
        max-height:40px;
      }
      .nav li a p{
        margin-bottom:0px;
      }
      .item img{
        height:100%; width:100%;
        margin-left:auto; margin-right:auto;
        z-index:-20;
      }
      .nav .active{
        color:rgb(49,158,55);        
      }
      .item{
      }
      .carousel-caption{
      }
      
      #third{
        color:white;
        margin-bottom:7%;
        padding:1%;
      }
      .navbar-wrapper {
        top: 0;
        left: 0;
        right: 0;
        z-index: 10000;
        margin-top: 20px;
        margin-bottom: -90px;
      }

      .navbar .navbar-inner {
          border: 0;
          -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
             -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
                  box-shadow: 0 2px 10px rgba(0,0,0,.25);
      }

/* Downsize the brand/project name a bit */
        .navbar .brand {
          padding: 14px 20px 16px; /* Increase vertical padding to match navbar     links */
          font-size: 16px;
          font-weight: bold;
          text-shadow: 0 -1px 0 rgba(0,0,0,.5);
        }

        /* Navbar links: increase padding for taller navbar */
        .navbar .nav > li > a {
          padding: 15px 20px;
        }

        /* Offset the responsive button for proper vertical alignment */
        .navbar .btn-navbar {
          margin-top: 10px;
        }

        .carousel-caption {
          max-width:39%;
          border-top-right-radius: 12px 12px;
          border-bottom-right-radius: 12px 12px;
          color:white;
          padding:3%;
          margin-left:2%;
          background:transparent;
        }

        @media (min-width: 980px) and (max-width: 1280px) { 
          .carousel-caption {
            margin-bottom:-5%;
          }
        }
/*
        .carousel-caption form{
          position:absolute;
          z-index:0;
        }
*/
        .carousel-caption h3{
          margin-top:14%;
          z-index:10020;
        }

        .carousel-caption form .row{
          margin-left:0%;
          margin-bottom:-2%;
          z-index:0;
        }

        .carousel {
          position:absolute;
          top:0;
          left:0;
          z-index:-100;
          width:100%;
        }
        
        .container-text{
          max-width:44%;
          max-height:10%;
          margin-top:38%;
        }

    </style>
    <!-- <link href="/css/bootstrap-responsive.css" rel="stylesheet"> -->
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/css/bootstrap-wysihtml5.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="./ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="./ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="./ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="./ico/apple-touch-icon-57-precomposed.png">
    <script src="/js/jquery-1.9.1.js"></script>
    <!-- <script src="/js/bootstrap.min.js"></script> -->
    <script src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/wysihtml5-0.3.0.js"></script>
    <script src="/js/bootstrap-wysihtml5.js"></script>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
  </head>

  <body>
    <div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/"><img src="img/logo2.png"
              /></a>
            <div class="nav-collapse">
              <ul class="nav">
                <li <%= printActiveIfMatches "/" %>><a href="/"><p>GO</p>Home</a></li>
                <li <%= printActiveIfMatches "/candidates" %>><a href="/candidates"><p>GO</p>Candidates</a></li>
                <li <%= printActiveIfMatches "/platform" %>><a href="/platform"><p>GO</p>Platform</a></li>
                <!-- <li <%= printActiveIfMatches "/vote" %>><a href="/vote"><p>GO</p>Vote</a></li>
                <li <%= printActiveIfMatches "/suggestion" %>><a href="/suggestion"><p>GO</p>Suggestions</a></li> -->
                <!-- <li><a href="#endorsements"><p>GO</p>Endorsements</a></li> -->
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>
    </div>

      <%= yield %>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script>
      $(function(){
        /*var $carousel = $("#myCarousel").carousel({ interval: 4000 });
        $carousel.on('slid',function(){ 
          if( $('#myCarousel .active').index('#myCarousel .item') == 2 ){
            $carousel.carousel('pause');
            $('#myModal').modal(); 
          } 
        });*/
        $('.return').click(
          function(){
            $('.tab-content .active').children().slideDown('slow');
            $('.profile').fadeOut();
        });
        $('.thumbnail').click(
          function(){
            var $vid = $(this).children('b').attr('data-link');
            var $desc = $(this).children('p');
            var $name = $(this).children('h3');
            var $sibs = $(this).parent().siblings();
            $(this).toggleClass('chosen');
            $sibs.fadeToggle('fast',
              function(){
                $(this).children('p').html($desc.html());
                $(this).children('h1').html($name.html());
                $(this).children('.video').attr('src',$vid);
              }
            );
         });
         $('a[data-toggle="tab"]').click(function(){
          $('.chosen').parent().siblings().fadeToggle();
          $(".chosen").removeClass('chosen');
         });
         $('#editor').wysihtml5({ "color" : true });
      });

      //});
    </script>

  </body>
</html>
